<a href="https://colab.research.google.com/github/Chaitanya2908/Sales_Report/blob/main/Sales_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
# Load the dataset & Display the first few rows
data = pd.read_csv("Sales Data.csv")
print(data.head(5))

   Unnamed: 0  Order ID               Product  Quantity Ordered  Price Each  \
0           0    295665    Macbook Pro Laptop                 1     1700.00
1           1    295666    LG Washing Machine                 1      600.00
2           2    295667  USB-C Charging Cable                 1       11.95
3           3    295668      27in FHD Monitor                 1      149.99
4           4    295669  USB-C Charging Cable                 1       11.95

            Order Date                        Purchase Address  Month  \
0  2019-12-30 00:01:00  136 Church St, New York City, NY 10001     12
1  2019-12-29 07:03:00     562 2nd St, New York City, NY 10001     12
2  2019-12-12 18:21:00    277 Main St, New York City, NY 10001     12
3  2019-12-22 15:13:00     410 6th St, San Francisco, CA 94016     12
4  2019-12-18 12:38:00           43 Hill St, Atlanta, GA 30301     12

     Sales            City  Hour
0  1700.00   New York City     0
1   600.00   New York City     7
2    11.95   New York City    18
3   149.99   San Francisco    15
4    11.95         Atlanta    12

In [31]:
# Drop rows with missing essential values
data.dropna(subset=['Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Sales'], inplace=True)

In [32]:
# Check If any Missing Values
print(data.isnull().sum())

Unnamed: 0          0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB

In [34]:
# Convert data types if necessary
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')
print(data['Order Date'].head(5))

data['Price Each'] = pd.to_numeric(data['Price Each'], errors='coerce')
print(data['Price Each'].head(5))

data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'], errors='coerce')
print(data['Quantity Ordered'].head(5))

0   2019-12-30 00:01:00
1   2019-12-29 07:03:00
2   2019-12-12 18:21:00
3   2019-12-22 15:13:00
4   2019-12-18 12:38:00
Name: Order Date, dtype: datetime64[ns]
0    1700.00
1     600.00
2      11.95
3     149.99
4      11.95
Name: Price Each, dtype: float64
0    1
1    1
2    1
3    1
4    1
Name: Quantity Ordered, dtype: int64

In [35]:
#Preapre Report
report = {
    'total_revenue': f"${data['Sales'].sum():,.2f}",
    'top_product': data.groupby('Product')['Quantity Ordered'].sum().idxmax(),
    'average_daily_sales': f"${data.groupby('Order Date')['Sales'].sum().mean():,.2f}"
}

In [36]:
# Convert to a DataFrame
report_df = pd.DataFrame(list(report.items()))

# Save to CSV
report_df.to_csv('sales_report_summary.csv', index=False)

print("Report saved to sales_report_summary.csv")

Report saved to sales_report_summary.csv